apiVersion: v2
name: alfresco-ai-transformer
description: A Helm chart for deploying Alfresco ai transformer service
type: application
version: 3.2.1
appVersion: 3.3.0
dependencies:
  - name: alfresco-common
    version: 4.0.0
    repository: https://alfresco.github.io/alfresco-helm-charts/
  - name: activemq
    version: 3.6.2
    repository: https://alfresco.github.io/alfresco-helm-charts/
    tags:
      - ci
