---
replicaCount: 1
nodeSelector: {}
# -- Global definition of Docker registry pull secret which can be overridden
# from parent ACS Helm chart(s)
global:
  messageBroker:
    # -- A failover URI formatted string, see:
    # https://activemq.apache.org/failover-transport-reference
    url:
    # -- Username to authenticate as.
    user:
    # -- Credential to use to authenticate to the broker.
    password:
  alfrescoRegistryPullSecrets: quay-registry-secret
  strategy:
    rollingUpdate:
      maxSurge: 1
      maxUnavailable: 0
podSecurityContext:
  runAsUser: 33020
  runAsGroup: 1000
  runAsNonRoot: true
  fsGroup: 1000
image:
  repository: quay.io/alfresco/service-sync
  tag: 3.9.0
  pullPolicy: IfNotPresent
  internalPort: 9090
environment:
  JAVA_OPTS: >-
    -Dsync.metrics.reporter.graphite.enabled=false
    -XX:MinRAMPercentage=50 -XX:MaxRAMPercentage=80
  EXTRA_JAVA_OPTS: ""
service:
  name: syncservice
  type: NodePort
  externalPort: 80
resources:
  requests:
    cpu: "0.5"
    memory: "800Mi"
  limits:
    cpu: "2"
    memory: "2000Mi"
livenessProbe:
  initialDelaySeconds: 30
  periodSeconds: 30
  timeoutSeconds: 10
readinessProbe:
  initialDelaySeconds: 20
  periodSeconds: 10
  failureThreshold: 12
  timeoutSeconds: 10
repository:
  # -- ACS repository host
  host: alfresco-cs-repository
  # -- ACS repository port
  port: 80
  # -- A nameOverride use to compute an ACS repository service name
  nameOverride:
activemq:
  # -- Toggle ActiveMQ chart dependency
  # see [Alfresco ActiveMQ chart
  # documentation](https://github.com/Alfresco/alfresco-helm-charts/tree/main/charts/activemq))
  enabled: false
  nameOverride: activemq
  adminUser:
    # -- User to use to set as the connection user for ActiveMQ
    user: admin
    # -- Password to use to set as the connection user for ActiveMQ
    password: admin
  services:
    broker:
      ports:
        external:
          openwire: 61616
messageBroker:
  # -- A failover URI formatted string, see:
  # https://activemq.apache.org/failover-transport-reference
  url:
  # -- A name that will be used as a base to get broker conenction details
  nameOverride: activemq
  # -- Username to authenticate as.
  user:
  # -- Credential to use to authenticate to the broker.
  password:
  # -- An existing k8s secret with broker details (prefered over using values)
  existingSecretName:
# -- Defines properties required by sync service for connecting to the database
# If you set database.external to true you will have to setup the JDBC driver,
# user, password and JdbcUrl as `driver`, `user`, `password` & `url` subelements
# of `database`. Also make sure that the container has the db driver
postgresql:
  # -- Toggle PostgreSQL chart dependency
  # see [PostgreSQL Bitnami charts
  # documentation](https://github.com/bitnami/charts/tree/main/bitnami/postgresql))
  enabled: false
  nameOverride: postgresql-syncservice
  auth:
    enablePostgresUser: false
    username: alfresco
    password: admin
    database: alfrescosync
  primary:
    extendedConfiguration: |
      shared_buffers = 256MB
      max_connections = 100
      wal_level = minimal
      max_wal_senders = 0
      max_replication_slots = 0
      effective_cache_size = 1024GB
      log_min_messages = LOG
  resources:
    limits:
      cpu: "2"
      memory: "2Gi"
database:
  # -- The JDBC Driver to connect to the DB.
  # If different from the default make sure your container image ships it.
  driver: org.postgresql.Driver
  # -- JDBC url to connect to the external DB
  url:
  # -- JDBC username to use to connect to the DB
  user: alfresco
  # -- JDBC password to use to connect to the DB
  password: admin
  # -- An existing kubernetes secret with DB info (prefered over using values)
  existingSecretName:

ingress:
  # -- useful when running Sync service without SSL termination done by a load
  # balancer, e.g. when ran on Minikube for testing purposes
  # nginx.ingress.kubernetes.io/ssl-redirect: "false"
  extraAnnotations:
  #  - secretName: chart-example-tls
  #    hosts:
  #      - chart-example.local
  tls: []
  path: /syncservice
