repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: mixed-line-ending
        args: ["--fix=lf"]
      - id: end-of-file-fixer
        exclude: README.md
      - id: trailing-whitespace
  - repo: https://github.com/norwoodj/helm-docs
    rev: v1.14.2
    hooks:
      - id: helm-docs
  - repo: https://github.com/jtyr/kubeconform-helm
    rev: v0.2.0
    hooks:
      - id: kubeconform-helm
        alias: kubeconform-helm-min
        name: "Kubeconform Helm - min k8s version" # the oldest EKS version still in extended support
        files: ^charts/[^/]+/(\.kubeconform|\.helmignore|templates/NOTES.txt|.*\.(ya?ml|json|tpl))$
        args:
          - --kubernetes-version=1.28.15 # eks.34 https://docs.aws.amazon.com/eks/latest/userguide/platform-versions.html
          - --exclude-charts=alfresco-common
          - --values-dir=ci
          - --strict
  - repo: https://github.com/jtyr/kubeconform-helm
    rev: v0.2.0
    hooks:
      - id: kubeconform-helm
        name: "Kubeconform Helm - current k8s version" # current as in currently supported by both Alfresco & AWS
        files: ^charts/[^/]+/(\.kubeconform|\.helmignore|templates/NOTES.txt|.*\.(ya?ml|json|tpl))$
        args:
          - --kubernetes-version=1.34.2 # eks.10 https://docs.aws.amazon.com/eks/latest/userguide/platform-versions.html
          - --exclude-charts=alfresco-common
          - --values-dir=ci
          - --strict
  - repo: local
    hooks:
      - id: custom-check-chart-versions
        name: Check Chart dependencies
        entry: ./scripts/charts.sh
        language: script
        pass_filenames: false
