resources:
  requests:
    cpu: "0.01"
    memory: "256Mi"
  limits:
    cpu: "1"
    memory: "500Mi"
activemq:
  enabled: true
  resources:
    requests:
      cpu: "100m"
      memory: "512Mi"
    limits:
      cpu: "1000m"
      memory: "1Gi"
aws:
  accessKeyId: AAAAAAAAAAAAAAAAA
  secretAccessKey: ZZZZZZZZZZZZZZZZZ
messageBroker:
  url: failover(nio://activemq:61616)
