{{- if not .Values.messageBroker.existingSecretName }}
apiVersion: v1
kind: Secret
metadata:
  name: {{ template "alfresco-ai-transformer.fullname" . }}-messagebroker-secret
  labels:
    {{- include "alfresco-ai-transformer.labels" $ | nindent 4 }}
type: Opaque
data:
  {{- if .Values.activemq.enabled }}
  BROKER_URL: {{ printf "failover:(nio://%s:61616)?timeout=3000&jms.useCompression=true" (include "alfresco-repository.deployment-activemq.name" .) | b64enc | quote }}
  BROKER_USERNAME: {{ .Values.activemq.adminUser.user | b64enc | quote }}
  BROKER_PASSWORD: {{ .Values.activemq.adminUser.password | b64enc | quote }}
  {{- else }}
  BROKER_URL: {{ required "Disabling in-cluster ActiveMQ requires passing (at least) messageBroker.url" .Values.messageBroker.url | b64enc | quote }}
  BROKER_USERNAME: {{ .Values.messageBroker.user | b64enc | quote }}
  BROKER_PASSWORD: {{ .Values.messageBroker.password | b64enc | quote }}
  {{- end }}
 {{- end }}
