apiVersion: v1
kind: Service
metadata:
  {{- $ctx := dict "Values" (dict "nameOverride" (printf "%s-%s" (.Values.nameOverride | default .Chart.Name) "mediation-headless")) "Chart" .Chart "Release" .Release }}
  name: {{ template "alfresco-search-enterprise.name" $ctx }}
  labels:
    {{- include "alfresco-search-enterprise.labels" . | nindent 4 }}
    app.kubernetes.io/component: search-enterprise-mediation
spec:
  ports:
  - port: 8080
    name: http
  clusterIP: None
  selector:
    {{- include "alfresco-search-enterprise.selectorLabels" . | nindent 4 }}
    app.kubernetes.io/component: search-enterprise-mediation
