global:
  alfrescoRegistryPullSecrets: quay-registry-secret
strategy:
  rollingUpdate:
    maxSurge: 1
    maxUnavailable: 0
replicaCount: 2
nodeSelector: {}
image:
  repository: quay.io/alfresco/alfresco-ms-teams-service
  tag: 2.0.0-A2
  pullPolicy: IfNotPresent
  internalPort: 3978
service:
  name: ms-teams-service
  type: ClusterIP
  externalPort: 80
ingress:
  path: /ms-teams-service
  tls: []
  extraAnnotations:
  #  - secretName: chart-example-tls
  #    hosts:
  #      - chart-example.local
podSecurityContext:
  runAsNonRoot: true
  runAsUser: 33041
resources:
  requests:
    cpu: "0.5"
    memory: "1000Mi"
  limits:
    cpu: "1"
    memory: "1000Mi"
readinessProbe:
  initialDelaySeconds: 20
  periodSeconds: 60
  timeoutSeconds: 10
livenessProbe:
  initialDelaySeconds: 10
  periodSeconds: 20
  timeoutSeconds: 10
environment:
alfresco:
  baseUrl: change_me_alf_base_url
  digitalWorkspace:
    contextPath: /workspace/
microsoft:
  app:
    id: change_me_app_id
    password: change_me_app_pwd
    oauth:
      connectionName: alfresco
teams:
  chat:
    filenameEnabled: true
    metadataEnabled: true
    imageEnabled: true
