apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ template "alfresco-transform-service.config-libreoffice.name" . }}
  labels:
    {{- include "alfresco-transform-service.libreoffice.labels" . | nindent 4 }}
data:
  {{- include "alfresco-transform-service.sfs.url" . | indent 2 }}
  {{- toYaml .Values.libreoffice.environment | nindent 2 }}
  {{- range $key, $val := .Values.libreoffice.livenessProbe }}
  {{ $key }}: {{ $val | quote }}
  {{- end }}
