apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ template "alfresco-transform-service.config-pdfrenderer.name" . }}
  labels:
    {{- include "alfresco-transform-service.pdfrenderer.labels" . | nindent 4 }}
data:
  {{- include "alfresco-transform-service.sfs.url" . | indent 2 }}
  {{- toYaml .Values.pdfrenderer.environment | nindent 2 }}
  {{- range $key, $val := .Values.pdfrenderer.livenessProbe }}
  {{ $key }}: {{ $val | quote }}
  {{- end }}
