apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ template "alfresco-transform-service.deployment-imagemagick.name" . }}
  labels:
    {{- include "alfresco-transform-service.imagemagick.labels" . | nindent 4 }}
spec:
  replicas: {{ .Values.imagemagick.replicaCount }}
  selector:
    matchLabels:
      {{- include "alfresco-transform-service.imagemagick.selectorLabels" . | nindent 6 }}
  strategy:
    type: RollingUpdate
    rollingUpdate:
      {{- toYaml .Values.global.strategy.rollingUpdate | nindent 6 }}
  template:
    metadata:
      annotations:
        {{- include "alfresco-transform-service.configsums" (dict "Context" $ "Component" "imagemagick") | indent 8 }}
      labels:
        {{- include "alfresco-transform-service.imagemagick.selectorLabels" . | nindent 8 }}
    spec:
    {{- include "component-pod-security-context" .Values.imagemagick| indent 4 }}
    {{- if .Values.imagemagick.nodeSelector }}
      nodeSelector: {{- .Values.imagemagick.nodeSelector | toYaml | nindent 8 }}
    {{- end }}
      {{- include "alfresco-content-services.imagePullSecrets" . | indent 6 }}
      affinity:
        podAntiAffinity:
          preferredDuringSchedulingIgnoredDuringExecution:
          - weight: 10
            podAffinityTerm:
              labelSelector:
                matchExpressions:
                - key: app
                  operator: In
                  values:
                  - {{ template "alfresco-transform-service.deployment-imagemagick.name" . }}
              topologyKey: failure-domain.beta.kubernetes.io/zone
          - weight: 5
            podAffinityTerm:
              labelSelector:
                matchExpressions:
                - key: app
                  operator: In
                  values:
                  - {{ template "alfresco-transform-service.deployment-imagemagick.name" . }}
              topologyKey: kubernetes.io/hostname
      containers:
        - name: {{ .Chart.Name }}
          image: "{{ .Values.imagemagick.image.repository }}:{{ .Values.imagemagick.image.tag }}"
          imagePullPolicy: {{ .Values.imagemagick.image.pullPolicy }}
          {{- include "component-security-context" .Values.imagemagick| indent 8 }}
          envFrom:
          - configMapRef:
              name: {{ template "alfresco-transform-service.config-imagemagick.name" . }}
          - secretRef:
              name: {{ default (printf "%s-messagebroker-secret" (include "alfresco-transform-service.fullname" $)) $.Values.messageBroker.existingSecretName }}
          env:
            {{- include "activemq.env" . | nindent 12 }}
          ports:
            - containerPort: {{ .Values.imagemagick.image.internalPort }}
          resources: {{- toYaml .Values.imagemagick.resources | nindent 12 }}
          {{ include "alfresco-transform-service.probes" .Values.imagemagick | nindent 10 }}
