{{- if .Values.tika.enabled }}
apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ template "alfresco-transform-service.deployment-tika.name" . }}
  labels:
    {{- include "alfresco-transform-service.tika.labels" . | nindent 4 }}
spec:
  replicas: {{ .Values.tika.replicaCount }}
  selector:
    matchLabels:
      {{- include "alfresco-transform-service.tika.selectorLabels" . | nindent 6 }}
  strategy:
    type: RollingUpdate
    rollingUpdate:
      {{- toYaml .Values.global.strategy.rollingUpdate | nindent 6 }}
  template:
    metadata:
      annotations:
        {{- include "alfresco-transform-service.configsums" (dict "Context" $ "Component" "tika") | indent 8 }}
      labels:
        {{- include "alfresco-transform-service.tika.selectorLabels" . | nindent 8 }}
    spec:
    {{- include "alfresco-common.component-pod-security-context" .Values.tika | indent 4 }}
    {{- if .Values.tika.nodeSelector }}
      nodeSelector: {{- .Values.tika.nodeSelector | toYaml | nindent 8 }}
    {{- end }}
      {{- include "alfresco-common.imagePullSecrets" . | indent 6 }}
      affinity:
        podAntiAffinity:
          preferredDuringSchedulingIgnoredDuringExecution:
          - weight: 10
            podAffinityTerm:
              labelSelector:
                matchExpressions:
                - key: app
                  operator: In
                  values:
                  - {{ template "alfresco-transform-service.deployment-tika.name" . }}
              topologyKey: failure-domain.beta.kubernetes.io/zone
          - weight: 5
            podAffinityTerm:
              labelSelector:
                matchExpressions:
                - key: app
                  operator: In
                  values:
                  - {{ template "alfresco-transform-service.deployment-tika.name" . }}
              topologyKey: kubernetes.io/hostname
      containers:
        - name: {{ .Chart.Name }}
          image: "{{ .Values.tika.image.repository }}:{{ .Values.tika.image.tag }}"
          imagePullPolicy: {{ .Values.tika.image.pullPolicy }}
          {{- include "component-security-context" .Values.tika | indent 8 }}
          envFrom:
            - configMapRef:
                name: {{ template "alfresco-transform-service.config-tika.name" . }}
          env:
            {{- include "alfresco-transform-service.messageBroker.env" $ | nindent 12 }}
          ports:
            - containerPort: {{ .Values.tika.image.internalPort }}
          resources: {{- toYaml .Values.tika.resources | nindent 12 }}
          {{ include "alfresco-transform-service.probes" .Values.tika | nindent 10 }}
{{- end }}
