{{- if .Values.imagemagick.enabled }}
apiVersion: v1
kind: Service
metadata:
  name: {{ template "alfresco-transform-service.imagemagick.fullname" . }}
  labels:
    {{- include "alfresco-transform-service.imagemagick.labels" . | nindent 4 }}
spec:
  type: {{ .Values.imagemagick.service.type }}
  ports:
    - port: {{ .Values.imagemagick.service.externalPort }}
      targetPort: {{ .Values.imagemagick.image.internalPort }}
      name: {{ .Values.imagemagick.service.name }}
  selector:
    {{- include "alfresco-transform-service.imagemagick.selectorLabels" . | nindent 4 }}
{{- end }}
