{{- if .Values.filestore.enabled }}
apiVersion: v1
kind: Service
metadata:
  name: {{ template "alfresco-transform-service.filestore.fullname" . }}
  labels:
    {{- include "alfresco-transform-service.filestore.labels" . | nindent 4 }}
spec:
  type: {{ .Values.filestore.service.type }}
  ports:
    - port: {{ .Values.filestore.service.externalPort }}
      targetPort: {{ .Values.filestore.image.internalPort }}
      name: {{ .Values.filestore.service.name }}
  selector:
    {{- include "alfresco-transform-service.filestore.selectorLabels" . | nindent 4 }}
{{- end }}
