transformrouter:
  enabled: true
  replicaCount: 2
  nodeSelector: {}
  image:
    repository: quay.io/alfresco/alfresco-transform-router
    tag: 4.0.1
    pullPolicy: IfNotPresent
    internalPort: 8095
  service:
    name: transform-router
    type: ClusterIP
    externalPort: 80
  environment:
    JAVA_OPTS: >-
      -XX:MinRAMPercentage=50
      -XX:MaxRAMPercentage=80
  readinessProbe:
    path: /actuator/health
    initialDelaySeconds: 20
    periodSeconds: 60
    timeoutSeconds: 10
  livenessProbe:
    path: /actuator/health
    initialDelaySeconds: 20
    periodSeconds: 30
    timeoutSeconds: 10
  podSecurityContext:
    runAsNonRoot: true
    runAsUser: 33016
  resources:
    requests:
      cpu: "100m"
      memory: "250Mi"
    limits:
      cpu: "1"
      memory: "1Gi"
pdfrenderer:
  enabled: true
  replicaCount: 2
  nodeSelector: {}
  image:
    repository: quay.io/alfresco/alfresco-pdf-renderer
    tag: 5.0.1
    pullPolicy: IfNotPresent
    internalPort: 8090
  service:
    name: pdfrenderer
    type: ClusterIP
    externalPort: 80
  podSecurityContext:
    runAsNonRoot: true
    runAsUser: 33001
  resources:
    requests:
      cpu: "100m"
      memory: "250Mi"
    limits:
      cpu: "2"
      memory: "2Gi"
  environment:
    JAVA_OPTS: >-
      -XX:MinRAMPercentage=50
      -XX:MaxRAMPercentage=80
  readinessProbe:
    path: /ready
    initialDelaySeconds: 20
    periodSeconds: 60
    timeoutSeconds: 10
  livenessProbe:
    path: /live
    initialDelaySeconds: 10
    periodSeconds: 20
    timeoutSeconds: 10
    livenessPercent: 150
    livenessTransformPeriodSeconds: 600
    maxTransforms: 10000
    maxTransformSeconds: 1200
imagemagick:
  enabled: true
  replicaCount: 2
  nodeSelector: {}
  image:
    repository: quay.io/alfresco/alfresco-imagemagick
    tag: 5.0.1
    pullPolicy: IfNotPresent
    internalPort: 8090
  service:
    name: imagemagick
    type: ClusterIP
    externalPort: 80
  podSecurityContext:
    runAsNonRoot: true
    runAsUser: 33002
  resources:
    requests:
      cpu: "250m"
      memory: "250Mi"
    limits:
      cpu: "4"
      memory: "4Gi"
  environment:
    JAVA_OPTS: >-
      -XX:MinRAMPercentage=50
      -XX:MaxRAMPercentage=80
  readinessProbe:
    path: /ready
    initialDelaySeconds: 20
    periodSeconds: 60
    timeoutSeconds: 10
  livenessProbe:
    path: /live
    initialDelaySeconds: 10
    periodSeconds: 20
    timeoutSeconds: 10
    livenessPercent: 150
    livenessTransformPeriodSeconds: 600
    maxTransforms: 10000
    maxTransformSeconds: 900
libreoffice:
  enabled: true
  replicaCount: 2
  nodeSelector: {}
  image:
    repository: quay.io/alfresco/alfresco-libreoffice
    tag: 5.0.1
    pullPolicy: IfNotPresent
    internalPort: 8090
  service:
    name: libreoffice
    type: ClusterIP
    externalPort: 80
  resources:
    requests:
      cpu: "250m"
      memory: "500Mi"
    limits:
      cpu: "4"
      memory: "4Gi"
  podSecurityContext:
    runAsNonRoot: true
    runAsUser: 33003
  environment:
    JAVA_OPTS: >-
      -XX:MinRAMPercentage=50
      -XX:MaxRAMPercentage=80
  readinessProbe:
    path: /ready
    initialDelaySeconds: 20
    periodSeconds: 60
    timeoutSeconds: 10
  livenessProbe:
    path: /live
    initialDelaySeconds: 10
    periodSeconds: 20
    timeoutSeconds: 10
    livenessPercent: 250
    livenessTransformPeriodSeconds: 600
    maxTransforms: 99999
    maxTransformSeconds: 1800
tika:
  enabled: true
  replicaCount: 2
  nodeSelector: {}
  image:
    repository: quay.io/alfresco/alfresco-tika
    tag: 5.0.1
    pullPolicy: IfNotPresent
    internalPort: 8090
  service:
    name: tika
    type: ClusterIP
    externalPort: 80
  podSecurityContext:
    runAsNonRoot: true
    runAsUser: 33004
  resources:
    requests:
      cpu: "250m"
      memory: "600Mi"
    limits:
      cpu: "4"
      memory: "4Gi"
  environment:
    JAVA_OPTS: >-
      -XX:MinRAMPercentage=50
      -XX:MaxRAMPercentage=80
  readinessProbe:
    path: /ready
    initialDelaySeconds: 30
    periodSeconds: 60
    timeoutSeconds: 10
  livenessProbe:
    path: /live
    initialDelaySeconds: 30
    periodSeconds: 20
    timeoutSeconds: 10
    livenessPercent: 400
    livenessTransformPeriodSeconds: 600
    maxTransforms: 10000
    maxTransformSeconds: 1800
transformmisc:
  enabled: true
  replicaCount: 2
  nodeSelector: {}
  image:
    repository: quay.io/alfresco/alfresco-transform-misc
    tag: 5.0.1
    pullPolicy: IfNotPresent
    internalPort: 8090
  service:
    name: transformmisc
    type: ClusterIP
    externalPort: 80
  podSecurityContext:
    runAsNonRoot: true
    runAsUser: 33006
  resources:
    requests:
      cpu: "100m"
      memory: "250Mi"
    limits:
      cpu: "2"
      memory: "2Gi"
  environment:
    JAVA_OPTS: >-
      -XX:MinRAMPercentage=50
      -XX:MaxRAMPercentage=80
  readinessProbe:
    path: /ready
    initialDelaySeconds: 20
    periodSeconds: 60
    timeoutSeconds: 10
  livenessProbe:
    path: /live
    initialDelaySeconds: 10
    periodSeconds: 20
    timeoutSeconds: 10
    livenessPercent: 400
    livenessTransformPeriodSeconds: 600
    maxTransforms: 10000
    maxTransformSeconds: 1800
filestore:
  enabled: true
  replicaCount: 1
  nodeSelector: {}
  image:
    repository: quay.io/alfresco/alfresco-shared-file-store
    tag: 4.0.1
    pullPolicy: IfNotPresent
    internalPort: 8099
  initContainer:
    image:
      repository: busybox
      tag: 1.35.0
      pullPolicy: IfNotPresent
    resources:
      limits:
        cpu: "0.50"
        memory: "10Mi"
  service:
    name: filestore
    type: ClusterIP
    externalPort: 80
  podSecurityContext:
    runAsUser: 33030
    runAsGroup: 1000
    fsGroup: 1000
  resources:
    requests:
      cpu: "100m"
      memory: "250Mi"
    limits:
      cpu: "2"
      memory: "1Gi"
  environment:
    scheduler.content.age.millis: "86400000"
    scheduler.cleanup.interval: "86400000"
    JAVA_OPTS: >-
      -XX:MinRAMPercentage=50
      -XX:MaxRAMPercentage=80
  readinessProbe:
    path: /ready
    initialDelaySeconds: 20
    periodSeconds: 60
    timeoutSeconds: 10
  livenessProbe:
    path: /live
    initialDelaySeconds: 10
    periodSeconds: 20
    timeoutSeconds: 10
    livenessPercent: 150
    livenessSavePeriodSeconds: 600
  persistence:
    # -- Persist filestore data
    enabled: false
    # -- Specify a storageClass for dynamic provisioning
    accessModes:
      - ReadWriteOnce
    # -- Bind PVC based on storageClass (e.g. dynamic provisionning)
    storageClass: null
    # -- Use pre-provisioned pv through its claim (e.g. static provisionning)
    existingClaim: null
    data:
      mountPath: "/tmp/Alfresco"
      subPath: "alfresco-content-services/filestore-data"
messageBroker:
  # -- External activemq connection url (e.g. failover:(nio://my-broker:61616)?timeout=3000&jms.useCompression=true)
  url: null
  # -- External activemq username
  user: null
  # -- External activemq password
  password: null
  existingSecret:
    # -- Alternatively, provide credentials via an existing secret
    name: null
    keys:
      url: BROKER_URL
      user: BROKER_USERNAME
      password: BROKER_PASSWORD
ai:
  enabled: false
  nameOverride: alfresco-ai
global:
  alfrescoRegistryPullSecrets: quay-registry-secret
  strategy:
    rollingUpdate:
      maxSurge: 1
      maxUnavailable: 0
