{{- if not .Values.repository.existingConfigMap.name }}
apiVersion: v1
kind: ConfigMap
metadata:
  {{- $ctx := dict "Values" (dict "nameOverride" (printf "%s-repository" $.Chart.Name )) "Chart" $.Chart "Release" $.Release }}
  name: {{ template "alfresco-search-service.fullname" $ctx }}
  labels:
    heritage: {{ .Release.Service }}
    release: {{ .Release.Name }}
    chart: {{ .Chart.Name }}-{{ .Chart.Version | replace "+" "_" }}
    component: search
data:
  {{- with .Values.repository }}
  SOLR_ALFRESCO_HOST: >-
    {{ template "alfresco-common.url.host" .url }}
  SOLR_ALFRESCO_PORT: >-
    {{ template "alfresco-common.url.port" .url }}
  {{- end }}
  ALFRESCO_SECURE_COMMS: >-
    {{ .Values.global.tracking.auth | default "secret" }}
  {{- $environment := .Values.environment | default dict }}
  {{- range $key, $val := $environment }}
  {{ $key }}: {{ tpl $val $ | quote }}
  {{- end }}
{{- end }}
