# Defines the deployment for the Alfresco Search (Solr) App
apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ template "alfresco-search-service.fullname" . }}-solr
  labels:
    app: {{ template "alfresco-search-service.fullname" . }}-solr
    chart: {{ .Chart.Name }}-{{ .Chart.Version | replace "+" "_" }}
    release: {{ .Release.Name }}
    heritage: {{ .Release.Service }}
    component: search
spec:
  replicas: 1
  strategy:
    type: Recreate
  selector:
    matchLabels:
      app: {{ template "alfresco-search-service.fullname" . }}-solr
      release: {{ .Release.Name }}
  template:
    metadata:
      annotations:
        checksum/config: {{ include (print $.Template.BasePath "/config.yaml") . | sha256sum }}
        {{- with .Values.podAnnotations }}
          {{- toYaml . | nindent 8 }}
        {{- end }}
      labels:
        app: {{ template "alfresco-search-service.fullname" . }}-solr
        release: {{ .Release.Name }}
        component: search
    spec:
    {{- include "component-pod-security-context" .Values | indent 4 }}
    {{- with .Values.affinity }}
      affinity:
{{ tpl . $ | indent 8 }}
    {{- end }}
    {{- with .Values.tolerations }}
      tolerations:
{{ toYaml . | indent 8 }}
    {{- end }}
    {{- if .Values.nodeSelector }}
      nodeSelector: {{- .Values.nodeSelector | toYaml | nindent 8 }}
    {{- end }}
      {{- include "alfresco-content-services.imagePullSecrets" . | nindent 6 }}
      containers:
        - name: {{ .Chart.Name }}
          image: {{ template "alfresco-search.dockerImage" . }}
          imagePullPolicy: {{ template "alfresco-search.pullPolicy" . }}
          {{- include "component-security-context" .Values | indent 8 }}
          {{- $repoCtx := dict "Values" (dict "nameOverride" (printf "%s-repository" $.Chart.Name )) "Chart" $.Chart "Release" $.Release }}
          {{- $cm := coalesce .Values.repository.existingConfigMap.name (include "alfresco-search-service.fullname" $repoCtx) }}
          {{- $secret := coalesce .Values.repository.existingSecret.name (include "alfresco-search-service.fullname" $repoCtx) }}
          env:
            {{- with .Values.repository }}
              {{- if eq .securecomms "secret" }}
            - name: SOLR_ALFRESCO_SECURECOMMS_SECRET
              valueFrom:
                secretKeyRef:
                  name: {{ $secret }}
                  key: {{ index .existingSecret.keys "sharedSecret" }}
              {{- end }}
            - name: SOLR_ALFRESCO_HOST
              valueFrom:
                configMapKeyRef:
                  name: {{ $cm }}
                  key: {{ .existingConfigMap.keys.host }}
            - name: SOLR_ALFRESCO_PORT
              valueFrom:
                configMapKeyRef:
                  name: {{ $cm }}
                  key: {{ .existingConfigMap.keys.port }}
            - name: SOLR_ALFRESCO_SECURECOMMS
              valueFrom:
                configMapKeyRef:
                  name: {{ $cm }}
                  key: {{ .existingConfigMap.keys.securecomms }}
            {{- end }}
            - name: SOLR_SOLR_HOST
              value: {{ template "alfresco-search-service.fullname" . }}-solr
            - name: SOLR_SOLR_PORT
              value: {{ include "alfresco-search.svcPort" . | quote }}
            - name: SOLR_SOLR_BASEURL
              value: /solr
            {{- $environment := .Values.environment | default dict }}
            {{- range $key, $val := $environment }}
            - name: {{ $key }}
              value: {{ $val | quote }}
            {{- end }}
          envFrom:
          - configMapRef:
              name: {{ $cm }}
          ports:
            - containerPort: {{ template "alfresco-search.containerPort" . }}
          resources: {{- toYaml .Values.resources | nindent 12 }}
          volumeMounts:
          - name: data
            mountPath: {{ .Values.persistence.search.data.mountPath }}
            subPath: {{ .Values.persistence.search.data.subPath }}
          readinessProbe:
            exec:
              command:
                - sh
                - -c
                - >-
                  [
                  $(
                  curl -sH "X-Alfresco-Search-Secret: $SOLR_ALFRESCO_SECURECOMMS_SECRET" http://localhost:{{ template "alfresco-search.containerPort" . }}/solr/alfresco/admin/ping
                  | xmllint --xpath '/response/str[@name="status"]/text()' -
                  )
                  = "OK" ]
            initialDelaySeconds: {{ .Values.readinessProbe.initialDelaySeconds }}
            periodSeconds: {{ .Values.readinessProbe.periodSeconds }}
            timeoutSeconds: {{ .Values.readinessProbe.timeoutSeconds }}
          livenessProbe:
            exec:
              command:
                - sh
                - -c
                - >-
                  [
                  $(
                  curl -sH "X-Alfresco-Search-Secret: $SOLR_ALFRESCO_SECURECOMMS_SECRET" http://localhost:{{ template "alfresco-search.containerPort" . }}/solr/admin/info/system
                  | xmllint --xpath '/response/lst/int[@name="status"]/text()' -
                  )
                  -eq 0 ]
            initialDelaySeconds: {{ .Values.livenessProbe.initialDelaySeconds }}
            periodSeconds: {{ .Values.livenessProbe.periodSeconds }}
            failureThreshold: 1
            timeoutSeconds: {{ .Values.livenessProbe.timeoutSeconds }}
      volumes:
      - name: data
        persistentVolumeClaim:
          claimName: |-
            {{ .Values.persistence.existingClaim | default (printf "%s-solr-claim" (include "alfresco-search-service.fullname" .)) }}
