{{- if .Values.ingress.enabled }}
{{- $serviceName :=  printf "%s-%s" (include  "alfresco-search.fullName" .) "solr" -}}
{{- $servicePort := .Values.service.name | default (include "alfresco-search.svcPort" .) -}}
{{- $backendSvc := dict "serviceName" $serviceName "servicePort" $servicePort "context" $ -}}

apiVersion: {{ template "common.capabilities.ingress.apiVersion" . }}
kind: Ingress
metadata:
  name: {{ template "alfresco-search.fullName" . }}-solr
  annotations:
    nginx.ingress.kubernetes.io/auth-secret: {{ $.Values.ingress.existingSecretName | default (printf "%s-ingress-secret" (include "alfresco-search.fullName" $)) }}
  {{- if .Values.ingress.annotations }}
  {{ toYaml .Values.ingress.annotations | indent 2 }}
  {{- end }}

spec:
  {{- if .Values.ingress.tls }}
  tls:
    {{- range .Values.ingress.tls }}
    - hosts:
        {{- range .hosts }}
        - {{ . | quote }}
        {{- end }}
      secretName: {{ .secretName }}
    {{- end }}
  {{- end }}
  rules:
  - http:
      paths:
      - path: {{ .Values.ingress.path }}
        {{- if eq "true" (include "common.ingress.supportsPathType" .) }}
        pathType: Prefix
        {{- end }}
        backend: {{- include "common.ingress.backend" $backendSvc | nindent 10 }}
    {{- if .Values.ingress.hostName }}
    host: {{ tpl .Values.ingress.hostName . }}
    {{- end }}
{{- end }}
