{{- if and (not .Values.repository.existingSecret.name) (eq "secret" .Values.repository.securecomms) (not .Values.repository.existingConfigMap.name) }}
apiVersion: v1
kind: Secret
metadata: {{- $ctx := dict "Values" (dict "nameOverride" (printf "%s-repository" $.Chart.Name )) "Chart" $.Chart "Release" $.Release }}
  name: {{ template "alfresco-search-service.fullname" $ctx }}
  labels:
    {{ template "alfresco-search-service.labels" . }}
type: Opaque
data:
  {{- $reqmsg := "Please provide a shared secret for solr and repository in value repository.shared-secret" }}
  {{- $shared_secret := required $reqmsg (index .Values.repository "shared-secret") }}
  SOLR_ALFRESCO_SECURECOMMS_SECRET: {{ $shared_secret | b64enc | quote }}
{{- end }}
