apiVersion: v1
kind: Service
metadata:
  name: {{ template "alfresco-search-service.deployment.name" . }}
  labels:
    {{- include "alfresco-search-service.labels" . | nindent 4 }}
spec:
  type: {{ .Values.service.type }}
  ports:
    - port: {{ template "alfresco-search.svcPort" . }}
      targetPort: {{ template "alfresco-search.containerPort" . }}
      name: {{ .Values.service.name }}
  selector:
    {{- include "alfresco-search-service.selectorLabels" . | nindent 4 }}
