# Defines the service for the Alfresco Search (Solr) App
apiVersion: v1
kind: Service
metadata:
  name: {{ template "alfresco-search.fullName" . }}-solr
  labels:
    app: {{ template "alfresco-search.fullName" . }}-solr
    chart: {{ .Chart.Name }}-{{ .Chart.Version | replace "+" "_" }}
    release: {{ .Release.Name }}
    heritage: {{ .Release.Service }}
spec:
  type: {{ .Values.service.type }}
  ports:
    - port: {{ template "alfresco-search.svcPort" . }}
      targetPort: {{ template "alfresco-search.containerPort" . }}
      name: {{ .Values.service.name }}
  selector:
    app: {{ template "alfresco-search.fullName" . }}-solr
    release: {{ .Release.Name }}
