# Default values for alfresco-insight-zeppelin.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.

# -- Define the alfresco-insight-zeppelin properties to use in the k8s cluster
# This is chart will be installed as part of Alfresco Insight Engine
---
replicaCount: 1
nodeSelector: {}
image:
  repository: quay.io/alfresco/insight-zeppelin
  tag: 2.0.6
  pullPolicy: IfNotPresent
  internalPort: 9090
podSecurityContext:
  runAsUser: 33007
  runAsNonRoot: true
service:
  name: zeppelin
  type: ClusterIP
  externalPort: 80
ingress:
  path: /zeppelin
# -- The parent chart will set the values for "repository.host" and
# "repository.port"
repository: {}
resources:
  requests:
    cpu: "0.5"
    memory: "512Mi"
  limits:
    cpu: "1"
    memory: "1024Mi"
readinessProbe:
  initialDelaySeconds: 60
  periodSeconds: 20
  timeoutSeconds: 10
livenessProbe:
  initialDelaySeconds: 130
  periodSeconds: 20
  timeoutSeconds: 10
environment:
  ZEPPELIN_MEM: "-Xms512m -Xmx1g"
  ZEPPELIN_INTP_MEM: "-Xms512m -Xmx1g"
global:
  # -- Global definition of Docker registry pull secret which can be overridden
  # from parent ACS Helm chart(s)
  alfrescoRegistryPullSecrets: quay-registry-secret
  strategy:
    rollingUpdate:
      maxSurge: 1
      maxUnavailable: 0
