---
replicaCount: 1
image:
  repository: quay.io/alfresco/insight-zeppelin
  tag: 2.0.13
  pullPolicy: IfNotPresent
  internalPort: 9090
podSecurityContext:
  runAsUser: 33007
  runAsNonRoot: true
service:
  name: zeppelin
  type: ClusterIP
  externalPort: 80
ingress:
  path: /zeppelin
repository:
  # -- Alfresco repository URL
  url: http://alfresco-search-service
  existingConfigMap:
    # -- Name of a pre-existing configmap containing Alfresco repository URL
    name: null
    keys:
      # -- Key within the configmap holding the repository hostname
      host: REPO_HOST
      # -- Key within the configmap holding the repository port
      port: REPO_PORT
resources:
  requests:
    cpu: "0.5"
    memory: "512Mi"
  limits:
    cpu: "1"
    memory: "1024Mi"
readinessProbe:
  initialDelaySeconds: 60
  periodSeconds: 20
  timeoutSeconds: 10
livenessProbe:
  initialDelaySeconds: 130
  periodSeconds: 20
  timeoutSeconds: 10
environment:
  ZEPPELIN_MEM: "-Xms512m -Xmx1g"
  ZEPPELIN_INTP_MEM: "-Xms512m -Xmx1g"
global:
  # -- Global definition of Docker registry pull secret which can be overridden
  # from parent ACS Helm chart(s)
  alfrescoRegistryPullSecrets: quay-registry-secret
  strategy:
    rollingUpdate:
      maxSurge: 1
      maxUnavailable: 0
nodeSelector: {}
tolerations: []
# -- Pod affinity, passed thru tpl function
affinity: ""
serviceAccount:
  # -- Specifies whether a service account should be created
  create: true
  # -- Automatically mount a ServiceAccount's API credentials?
  automount: true
  # -- Annotations to add to the service account
  annotations: {}
  # -- The name of the service account to use. If not set and create is true, a
  # name is generated using the fullname template
  name: ""
