---
apiVersion: v2
name: alfresco-search-enterprise
description: A Helm chart for deploying Alfresco Elasticsearch connector
type: application
version: 4.7.0
appVersion: 5.2.1
dependencies:
  - name: alfresco-common
    version: 4.0.0
    repository: https://alfresco.github.io/alfresco-helm-charts/
  - name: activemq
    version: 3.6.2
    repository: https://alfresco.github.io/alfresco-helm-charts/
    tags:
      - ci
  - name: elasticsearch
    repository: oci://registry-1.docker.io/bitnamicharts
    version: 21.4.1
    tags:
      - ci
