{{- $serviceName := (include "alfresco-connector-ms365.fullname" .)  -}}
{{- $servicePort := .Values.service.externalPort -}}
apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: {{ $serviceName }}
  labels:
    {{- include "alfresco-connector-ms365.labels" . | nindent 4 }}
  annotations:
    kubernetes.io/ingress.class: "nginx"
    {{- if .Values.ingress.extraAnnotations }}
    {{ toYaml .Values.ingress.extraAnnotations }}
    {{- end }}

spec:
  {{- if .Values.ingress.tls }}
  tls:
    {{- range .Values.ingress.tls }}
    - hosts:
        {{- range .hosts }}
        - {{ . | quote }}
        {{- end }}
      secretName: {{ .secretName }}
    {{- end }}
  {{- end }}
  rules:
  - http:
      paths:
      - path: {{ .Values.ingress.path }}
        {{- if eq "true" (include "common.ingress.supportsPathType" .) }}
        pathType: Prefix
        {{- end }}
        backend: {{- include "common.ingress.backend" (dict "serviceName" $serviceName "servicePort" $servicePort "context" $) | nindent 10 }}
  {{- if .Values.ingress.hostName }}
    host: {{ tpl .Values.ingress.hostName $ }}
  {{- end }}
