global:
  alfrescoRegistryPullSecrets: quay-registry-secret
strategy:
  rollingUpdate:
    maxSurge: 1
    maxUnavailable: 0
replicaCount: 2
nodeSelector: {}
image:
  repository: quay.io/alfresco/alfresco-ooi-service
  tag: 2.0.0
  pullPolicy: IfNotPresent
  internalPort: 9095
service:
  name: ms365-service
  type: ClusterIP
  externalPort: 80
ingress:
  path: /ooi-service
  tls: []
  extraAnnotations: {}
podSecurityContext:
  runAsNonRoot: true
  runAsUser: 33006
resources:
  requests:
    cpu: "0.25"
    memory: "1000Mi"
  limits:
    cpu: "2"
    memory: "1000Mi"
environment: {}
readinessProbe:
  initialDelaySeconds: 20
  periodSeconds: 60
  timeoutSeconds: 10
livenessProbe:
  initialDelaySeconds: 10
  periodSeconds: 20
  timeoutSeconds: 10
repository:
  # -- ACS repository host
  host: acs-alfresco-cs-repository
  # -- ACS repository port
  port: 80
