---
name: Pre-commit

on:
  pull_request:
    branches:
      - main
  push:
    branches:
      - main

jobs:
  pre_commit:
    name: Run pre-commit
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - name: Ensure SHA pinned actions
        uses: zgosalvez/github-actions-ensure-sha-pinned-actions@d5d20e15f2736816ee0e001ba8b24b54d9ffcff4 # v5.0.0
        with:
          allowlist: |
            Alfresco/alfresco-build-tools/

      - name: Setup helm docs
        uses: Alfresco/alfresco-build-tools/.github/actions/setup-helm-docs@e5221d8092e0529c67dceb9a61d552f1d81e291a # v9.5.0

      - name: Install kubeconform helm plugin
        run: |
          helm plugin install https://github.com/jtyr/kubeconform-helm --version v0.2.0

      - name: Run pre-commit
        uses: Alfresco/alfresco-build-tools/.github/actions/pre-commit@e5221d8092e0529c67dceb9a61d552f1d81e291a # v9.5.0
        with:
          # disable auto-commit for PRs from forks
          auto-commit: ${{ github.event_name != 'pull_request' || ! github.event.pull_request.head.repo.fork }}
          python-version: 3.12
