---
name: Pre-commit

on:
  pull_request:
    branches:
      - main
  push:
    branches:
      - main

jobs:
  pre_commit:
    name: Run pre-commit
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - name: Ensure SHA pinned actions
        uses: zgosalvez/github-actions-ensure-sha-pinned-actions@9e9574ef04ea69da568d6249bd69539ccc704e74 # v4.0.0
        with:
          allowlist: |
            Alfresco/alfresco-build-tools/

      - name: Setup helm docs
        uses: Alfresco/alfresco-build-tools/.github/actions/setup-helm-docs@8222464f96aac2087ae1b5669b9ba74b252c4aca # v9.4.1

      - name: Install kubeconform helm plugin
        run: |
          helm plugin install https://github.com/jtyr/kubeconform-helm --version v0.2.0

      - name: Run pre-commit
        uses: Alfresco/alfresco-build-tools/.github/actions/pre-commit@8222464f96aac2087ae1b5669b9ba74b252c4aca # v9.4.1
        with:
          # disable auto-commit for PRs from forks
          auto-commit: ${{ github.event_name != 'pull_request' || ! github.event.pull_request.head.repo.fork }}
          python-version: 3.12
